body 
{
    color: blue;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    font-size: 16px;
    padding: 0;

}

#cabecera{
    background: mediumblue;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
 #container{
     width: 70%;
     padding: 1em;
     border: 5px solid maroon;
     margin: 0 auto;
 }
  
#container h1{
    font-size: 20px;


}